format = """
[](fg:{{ color0 }})\
$username\
$hostname\
[](bg:{{ color5 }} fg:{{ color0 }})\
$os\
[](bg:{{ color1 }} fg:{{ color5 }})\
$time\
$battery\
[](fg:{{ color1 }} bg:{{ color6 }})\
$directory\
[](fg:{{ color6 }} bg:{{ color8 }})\
$nodejs\
$rust\
$golang\
$php\
$java\
$julia\
$ocaml\
$zig\
$lua\
$python\
$ruby\
$dart\
$c\
[](fg:{{ color8 }} bg:{{ color0 }})\
$git_branch\
$git_status\
$cmd_duration\
$status\
[](fg:{{ color0 }})\
\n$character"""

[username]
style_user = "fg:{{ color3 }} bg:{{ color0 }}"
style_root = "fg:{{ color1 }} bg:{{ color0 }}"
format = "[ $user ]($style)"
show_always = true

[hostname]
style = "fg:{{ color7 }} bg:{{ color0 }}"
format = "[@$hostname ]($style)"
ssh_only = false

[directory]
style = "fg:{{ color0 }} bg:{{ color6 }}"
format = "[ $path ]($style)"
truncation_length = 2
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"Videos" = " "

[os]
disabled = false
style = "bg:{{ color5 }} fg:{{ color0 }}"

[os.symbols]
AIX = "  "
ALTLinux = "  "
AOSC = "  "
AlmaLinux = "  "
Alpaquita = "  "
Alpine = "  "
Amazon = "  "
Android = "  "
Arch = " 󰣇 "
Artix = " 󰣇 "
Bluefin = "  "
CachyOS = "  "
CentOS = "  "
Debian = " 󰣚 "
DragonFly = "  "
Elementary = "  "
Emscripten = "  "
EndeavourOS = "  "
Fedora = " 󰣛 "
FreeBSD = "  "
Garuda = "  "
Gentoo = " 󰣨 "
HardenedBSD = " 󰞌 "
Illumos = "  "
InstantOS = "  "
Ios = " 󰀷 "
Kali = "  "
Linux = " 󰌽 "
Mabox = "  "
Macos = " 󰀵 "
Manjaro = "  "
Mariner = "  "
MidnightBSD = "  "
Mint = " 󰣭 "
NetBSD = "  "
NixOS = "  "
Nobara = "  "
OpenBSD = "  "
OpenCloudOS = "  "
OracleLinux = " 󰺡 "
PikaOS = "  "
Pop = "  "
Raspbian = " 󰐿 "
RedHatEnterprise = " 󱄛 "
Redhat = " 󱄛 "
Redox = " 󰀘 "
RockyLinux = "  "
SUSE = "  "
Solus = "  "
Ubuntu = " 󰕈 "
Ultramarine = "  "
Unknown = "  "
Uos = "  "
Void = "  "
Windows = " 󰍲 "
Zorin = "  "
openEuler = "  "
openSUSE = "  "


[git_branch]
symbol = ""
style = "bg:{{ color0 }}"
format = "[[ $symbol $branch ](fg:{{ color7 }} bg:{{ color0 }})]($style)"

[git_status]
style = "bg:{{ color0 }}"
format = "[[($all_status$ahead_behind )](fg:{{ color7 }} bg:{{ color0 }})]($style)"

[git_metrics]
disabled = true

[nodejs]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[rust]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[golang]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[php]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[java]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[julia]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[ocaml]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[zig]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[lua]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[python]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[ruby]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[dart]
symbol = ""
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[c]
symbol = "󰬊"
style = "bg:{{ color8 }}"
format = "[[ $symbol ($version) ](fg:{{ color6 }} bg:{{ color8 }})]($style)"

[time]
disabled = false
time_format = "%R"
style = "bg:{{ color1 }}"
format = "[[  $time ](fg:{{ color0 }} bg:{{ color1 }})]($style)"

[cmd_duration]
min_time = 800
style = "bg:{{ color0 }}"
format = "[[  $duration ](fg:{{ color6 }} bg:{{ color0 }})]($style)"

[status]
disabled = false
style = "bg:{{ color0 }}"
format = "[[ $status ](fg:{{ color1 }} bg:{{ color0 }})]($style)"

[memory_usage]
disabled = true

[battery]
disabled = false
full_symbol = ""
charging_symbol = ""
discharging_symbol = ""
format = "[ $symbol $percentage ]($style)"

[[battery.display]]
threshold = 20
style = "bold fg:{{ color0 }} bg:{{ color1 }}"

[[battery.display]]
threshold = 100
style = "fg:{{ color3 }} bg:{{ color1 }}"

[character]
success_symbol = "[❯](bold {{ color2 }})"
error_symbol = "[❯](bold {{ color1 }})"
